body {
    background-color: #3b3759;
    font-family: "Montserrat";
    margin: 0;
    overflow: hidden;
}

body #game {
    display: flex;
    margin: 0px auto;
}

footer {
    color: white;
    margin-top: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, #3b3759, #363251, #302d4a, #2b2842, #26233b);
}

#game {
    width: 100%;
    height: 975px;
    overflow: hidden;
}

header {
    background-image: linear-gradient(to bottom, #26233b, #2b2842, #302d4a, #363251, #3b3759);
    display: flex;
    margin-bottom: 10px;
}

#logo {
    width: 1.5%;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#name-logo {
    width: 10%;
}

#image-game {
    justify-content: center;
    display: flex;
}

.back {
    position: relative;
}

.background, .background2 {
    position: absolute;
    bottom: 5%;
}

.foreground2, .midground2 {
    position: absolute;
    bottom: 15%;
}

.midground, .foreground {
    position: absolute;
    bottom: 10%;
}

.background {
    background: url(../images/background.png) no-repeat;
    height: 1080px;
    width: 1920px;
}

.background2 {
    background: url(../images/background2.png) no-repeat;
    height: 1080px;
    width: 1920px;
}

.midground {
    background: url(../images/midground.png) repeat-x;
    animation: movement 150s linear infinite;
    height: 305px;
    width: 8000px;
    animation-play-state: paused;
}

.foreground {
    background: url(../images/foreground.png) repeat-x;
    animation: movementForeground 40s linear infinite;
    height: 2200px;
    width: 4829px;
    animation-play-state: paused;
}

.midground2 {
    background: url(../images/midground2.png) repeat-x;
    animation: movement2 150s linear infinite;
    height: 302px;
    width: 7003px;
    animation-play-state: paused;
}

.foreground2 {
    background: url(../images/foreground2.png) repeat-x;
    animation: movementForeground2 40s linear infinite;
    height: 824px;
    width: 8500px;
    animation-play-state: paused;
}

@keyframes movement {
    0% {
        background-position: 8000px
    }
    100% {
        background-position: 0
    }
}

@keyframes movementForeground {
    0% {
        background-position: 4829px
    }
    100% {
        background-position: 0
    }
}

@keyframes movementForeground2 {
    0% {
        background-position: 8500px
    }
    100% {
        background-position: 0
    }
}

@keyframes movement2 {
    0% {
        background-position: 4672px
    }
    100% {
        background-position: 0
    }
}

#change-back {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#back-1, #back-2 {
    width: 7%;
    background-color: transparent;
    border: none;
}

#back-1 img, #back-2 img {
    width: 100%
}

#back-1:hover, #back-2:hover {
    cursor: pointer;
    width: 9%;
}

.static-fall {
    /*//para usar cuando está estático */
    position: absolute;
    bottom: 400px;
    background: url(../images/spaceShip.png) no-repeat;
    height: 130px;
    width: 300px;
    left: 400px;
}

.up {
    position: absolute;
    bottom: 400px;
    background: url(../images/spritesheet.png)repeat-x;
    height: 200px;
    width: 300px;
    animation: upSpace .4s steps(4) infinite forwards;
    left: 400px;
}

.ground {
    position: absolute;
    bottom: 300px;
    background: url(../images/spaceShipExplosion.png)repeat-x;
    height: 254px;
    width: 302px;
    animation: spaceShipExplosion 2s steps(23) forwards, disappear 0.2s linear forwards 1s;
    /* animation: spaceShipExplosion 0.6s steps(9) forwards, disappear 0.5s linear forwards .4s; */
    left: 400px;
}

@keyframes spaceShipExplosion {
    0% {
        background-position: 0
    }
    100% {
        background-position: -6946px
    }
}

@keyframes upSpace {
    0% {
        background-position: 0
    }
    100% {
        background-position: -1200px
    }
}

#elements {
    /*position: relative;*/
    width: 8000px;
    height: 100%
}

.gem {
    position: absolute;
    background: url(../images/gem.svg) no-repeat;
    width: 31px;
    height: 26px;
    animation: gemsMovement 120s linear infinite forwards;
}

.coin {
    position: absolute;
    background: url(../images/coin.svg) no-repeat;
    width: 44px;
    height: 71px;
    animation: coinsMovement 90s linear infinite forwards;
}

.meteorite {
    position: absolute;
    /* background: url(../images/meteorite.svg) no-repeat; */
    background: url(../images/meteorite.png) no-repeat;
    width: 40px;
    height: 40px;
    animation: meteoritesMovement 50s linear infinite forwards;
}

.ball {
    position: absolute;
    background: url(../images/electricityBall.svg) no-repeat;
    width: 109px;
    height: 96px;
    animation: ballsMovement 300s linear infinite forwards;
}

.coin-sum-image {
    position: absolute;
    background: url(../images/coin.svg) no-repeat;
    width: 50%;
    height: 50%;
    left: 90%;
}

#count {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 1630px;
    color: white;
    font-size: 50px;
    z-index: 999;
    font-weight: 700;
}
#count-score, #count-score-game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 17%;
    left: 15%;
    color: white;
    font-size: 50px;
    z-index: 999;
    font-weight: 700;
}
#count-score-game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 19%;
    left: 15%;
    color: white;
    font-size: 50px;
    z-index: 999;
    font-weight: 700;
}

.points {
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
}

#count-coin {
    font-size: 40px;
    z-index: 999;
    color: white;
    font-weight: 700;
    position: absolute;
    right: 4%;
    
}

.disappear {
    animation: disappear 0.3s linear forwards, coinsMovement 90s linear infinite forwards;
}
.disappearGem {
    animation: disappear 0.3s linear forwards, gemsMovement 90s linear infinite forwards;
}

.shake {
    animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) infinite both, ballsMovement 300s linear infinite forwards;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ballsMovement {
    to {
        transform: translateX(-7000px);
    }
}

@keyframes meteoritesMovement {
    to {
        transform: translateX(-7000px);
    }
}

@keyframes coinsMovement {
    to {
        transform: translateX(-7000px);
    }
}

@keyframes gemsMovement {
    to {
        transform: translateX(-7000px);
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content, .win-modal-content {
    opacity: 0.8;
    background: url(../images/start-back.png) no-repeat;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 33%;
    top: 20%;
}

.win-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.win-modal-content {
    opacity: 0.8;
    background: url(../images/start-back.png) no-repeat;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 33%;
    top: 20%;
}

.game-over-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.game-over-content {
    opacity: 0.8;
    background: url(../images/start-back.png) no-repeat;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 33%;
    top: 20%;
}

#start-button, #back-1-button, #back-2-button, #restart-button-win, #restart-button-game-over {
    background-color: transparent;
    border: none;
}

#start-button:hover, #back-1-button:hover, #back-2-button:hover, #restart-button-game-over:hover, #restart-button-win:hover, #instructions:hover, #close-button:hover {
    animation: scale .6s alternate infinite ease-in;
    cursor: pointer;
}

#start-button {
    position: absolute;
    left: 8%;
    top: 10%;
}

#text-start {
    position: absolute;
    left: 4%;
    top: 25%;
}

.back-images {
    position: absolute;
    left: 4%;
    top: 33%;
    display: flex;
}

#text-game-over {
    position: absolute;
    left: 9%;
    top: 5%;
}

#game-over-score {
    position: absolute;
    left: 8.5%;
    top: 22%;
}

#restart-button-game-over {
    position: absolute;
    left: 11%;
    top: 33%;  
}
#text-win{
    position: absolute;
    top: 10%;
    left: 9%;
}
#restart-button-win{
    position: absolute;
    top: 30%;
    left: 11%;
}
#win-score{
    position: absolute;
    top: 20%;
    left: 8.2%;
}



@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

#instructions, #close-button{
    background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    left: 26.5%;
    top: 5%;
    font-size: 40px;
}
#close-button{
    display:none;
}
#pop-up-instructions{
    display: none;
    color: white;
    width: 28%;
    font-size: 23px;
    padding: 20px;
    padding-top: 3%;
    font-weight: 500;
}
@media only screen   and (min-width: 1030px)   and (max-width: 1366px)  {
    .modal-content, .win-modal-content, .game-over-content{
        left: 26%;
        top: 10%;
    }
    #start-button{
        left: 11%;
        top: 13%;
    }
    #text-start{
        left:6%;
        top:30%;
    }
    .back-images{
        left:6%;
        top:40%;
    }
    #instructions{
        left:38%;
    }
    #game{
        height: 670px;
    }
    #close-button{
        left: 40%;
    }
    #pop-up-instructions{
        width: 38%; 
    }
  #text-game-over{
      left:12%;
  }
  #restart-button-game-over,  #restart-button-win{
      top:45%;
      left:15%
    }
    #game-over-score, #win-score{
        left:12%;
        top:29%;
    }
    #count-score-game-over, #count-score{
        left:22%;
        top:27%
    }
   

}