@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    height: 100%;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    margin-top: 20%;
    animation: 3s infinite spin;
}
.muro{
    overflow-y: hidden;
}
.esconder {
    display: none;
}

#links-login {
    display: inline-grid;
    text-align: center;
}

.image-left, .image-right, .btn-floating-container {
    position: fixed;
    bottom: 0;
}

.image-right {
    right: 0;
}

section.home-section1 {
    background-color: #935f95;
    height: 945px;
    width: 100%;
}

section.home-section2 {
    background-color: #d2b1d4;
    width: 100%;
    height: 500px;
}

section#login {
    height: 880px;
}

.btn-floating.pulse {
    background-color: #EFE7EF;
}

.btn-floating.pulse i {
    color: #935f95;
}

.btn-floating.pulse i:hover {
    color: #EFE7EF;
}

.home-section-1 {
    height: 100%;
}

#sumate-btn {
    background-color: #e4d3e4;
    color: #523568;
}

.parallax {
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/patitas\ -\ 1.svg");
    /*overflow: hidden;*/
    
    
}
.parallax-image{
   /* transform: translateZ(-2px) scale(3);*/
    width:100%;
    height: 100%;  
    
}



.dissapear-animation {
    animation: disappear 2s linear forwards;
}

.appear-animation {
    animation: appear 2s linear forwards;
}

@keyframes moveUp {
    to {
        transform: translateY(-500px);
    }
}

@keyframes moveDown {
    to {
        transform: translateY(500px);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}


.parallax-2 {
    background-image: url("../images/patitas\ -\ 2.svg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-logo-login-top {
    position: fixed;
    bottom: 50%;
    display: grid;
    justify-items: center;
    text-align: center;
}

.row .col.s6.image-logo-login-top {
    left: 25%;
}

.image-logo-login-top h1, .parallax h1 {
    color: white;
}
.parallax{
    display: flex;
align-items: center;
text-align: center;
}
.btn-floating-container {
    left: 50%
}

#navLogo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.navbar {
    /* background-color: white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow:0 0 5px 0 #434343;*/
}

.leftnavbar {
    height: 56px;
}

.margin-top-afternav {
    margin-top: 1.5rem;

}

.carta-busqueda .btn {
    margin: 20px 10px;
}

.card.card-padding.carta-busqueda {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.noticias {
    max-height: 1000px;
    overflow-y: scroll;
}

.noticias::-webkit-scrollbar {
    -webkit-appearance: none;
}

.noticias::-webkit-scrollbar:vertical {
    width: 7px;
}

.noticias::-webkit-scrollbar-button:increment, .noticias::-webkit-scrollbar-button {
    display: none;
}

.noticias::-webkit-scrollbar:horizontal {
    display: none;
    height: 10px;
}

.noticias::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    border-radius: 20px;
}

.noticias::-webkit-scrollbar-track {
    border-radius: 10px;
}

.carta-busqueda {
    display: flex;
    justify-content: space-between;

}

.carta-busqueda div, .carta-chat div {
    padding-left: 1rem;
    display: flex;
}

.carta-busqueda div {
    align-items: center;
}


.carta-busqueda div img, .carta-chat img {
    align-items: center;
}

.carta-chat .links-busqueda {
    margin-bottom: 0.2rem;
}

.carta-chat {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.carta-chat i {
    margin-right: 1.5rem;
    font-size: xx-small;
}

.links-busqueda {
    flex-direction: column;
    justify-content: start;
}

.links-busqueda a, .modal-row, .modal-photo-row {
    margin-top: 0;
}

.carta-busqueda div .links-busqueda {
    flex-direction: column;
    align-items: start;
}

/*.navbar i, #profile-navbar{
    color: #935f95;
}*/

#profile-lateral {
    display: flex;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-lateral-busqueda {
    display: flex;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    height: 45px;
    margin-top: 0.5rem;
    padding-left: 1rem;
}

#profile-lateral-busqueda i {
    font-size: 1.5rem;
}

.busqueda-text {
    padding-left: 1rem;
    margin-top: 0;
}

#profile-lateralG {
    display: flex;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    margin-top: 0.5rem;
    font-size: 1rem;
}

#profile-lateral img {
    margin-right: 5px;
}

.links-busqueda a#university {
    color: #757575;
    font-size: 0.8rem;
}

#busqueda-relaciona a {
    color: #434343;
}

#profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-navbar:hover {
    color: white;
    background-color: #935F95;
    border-radius: 0.563rem;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-navbar img, #profile-post img {
    margin-right: 5px;
}

#profile-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    margin-top: 0.5rem;
}

.text-hora {
    color: #757575;
    margin-top: 0;
    font-size: 10px;
}

.text-post {
    color: #434343;
}

.image-post {
    height: 100%;
}

img.col.s12.image-post {
    padding-right: 0;
    padding-left: 0;
}

.published-post {
    display: flex;
    align-items: center;
}

.imgRedonda {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.imgRedondaG {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.img-post {
    height: 38px;
}

#search-box {
    left: 30%;
    position: relative;
}

div .card.card-padding {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.inside-card-padding, div.col.s12.border.reactions-count.inside-card-padding, div.col.s12.input-field.comentar.inside-card-padding, div.col.s11.reaccion-comentarios.inside-card-padding,
.inside-card-padding.divider, .modal-publicar div.opciones-post.inside-card-padding, .modal-publicar div.publicar-btn.inside-card-padding, div.col.s12.z-depth-3.card.card-padding.carta-busqueda.inside-card-padding, #busqueda-relacionada {
    padding-left: 2rem;
    padding-right: 2rem;
}

div.col.s12.z-depth-3.card.card-padding, .col.s9.offset-s1.z-depth-3.enable-pop-up, .container-photo {
    padding-left: 0;
    padding-right: 0;
}


#user-name {
    font-weight: 600;
    line-height: 13px;
    color: #434343;
}

div.col.s12.input-field.comentar {
    height: auto;
    padding-left: 1rem;
    padding-right: 0;
}

.comentario-text {
    background-color: #DFDFDF;
    border-radius: 4px;
    margin-left: 5px;
    padding: 8px;
}

.comentario-text p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.comentarios-post {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: space-around;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: left;

}

.align-comment, .reactions-count, .images-gallery {
    display: inline-flex;
}

div.col.s12.border.reactions-count {
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}

.reactions label {
    margin-left: 0.33rem;
}

/*.comentario{
    width: 20rem;
}*/
.botones-comentarios {
    border: none;
}

.busqueda, #escribir-post, #busqueda-chats {
    background-color: #DFDFDF;
    border-bottom: none;
    border-radius: 0.563rem;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 0.5rem;
}

#busqueda-chats {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

#escribir-post:focus {
    border: none;
}

#escribir-post {
    margin-left: 0.5rem;
    height: 38px;
}

.reaccion-comentarios {
    display: flex;
    justify-content: start;
}

.reaccion-comentarios button {
    background: none;
    border: none;
    margin-right: 2rem;
}

.opciones-post {
    color: #757575;
    display: flex;
    justify-content: space-evenly;
}

.opciones-post button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;

}

.carta {
    display: flex;
    flex-direction: column;
}

.align-options, .align-reactions {
    display: inline-flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.align-options {
    margin-top: 1.5rem;
}

.align-reactions {
    margin-top: 0.5rem;
}

.align-options i, .align-reactions i {
    color: #935F95;
}

.align-options a, .align-reactions a {
    color: #757575;
    font-weight: 600;
    margin-left: 0.563rem;
}

.align-options:hover, .align-reactions:hover {
    background-color: #EFE7EF;
    border-radius: 4px;
}

.img-post {
    height: 38px;
    width: 38px;
}

.write-post, #busqueda-relacionada a {
    display: flex;
}

.busqueda::placeholder, #busqueda-relacionada a {
    color: #757575;
}

#busqueda-relacionada i {
    margin-right: 0.8rem;
}

.on {
    border-bottom: 3px solid #935f95;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-content li {
    margin-right: 30px
}

.left.hide-on-med-and-down.leftnavbar {
    margin-top: 0.5rem;
}

.links-login-div {
    display: flex;
    justify-content: center;
}

html {
    font-family: "Montserrat";
}

.logo {
    display: grid;
    justify-items: center;
    margin-top: 100px;
}

#text-logo, .modal-publicar h5, .parallax-2 h1 {
    text-align: center;
}


.col.s12.m6.text-registro {
    width: 75%;
}

.btn, #registro-exitoso-text {
    font-weight: 700;
}

.login-text {
    color: #434343;
    font-weight: 600;
}

.login-text-crear {
    color: #935f95;
    font-weight: 600;
}

.btn {
    margin: 20px auto 10px auto;
}

.btn-large {
    max-height: 53px;
    max-width: 103px;
}

#registro-btn, #publicar-btn {
    width: 100%;
    margin-top: 20px;
}

.links-login-div div {
    margin: 0 auto;
}

.eye-icon {
    right: 56px;
}

.photo-icon {
    right: 30px;
}

.eye-icon, .photo-icon {
    position: absolute;
    bottom: 16px;
    cursor: pointer;
    color: #452C57;
}

.disabled-icon {
    color: #DFDFDF;
}

.check {
    color: #935f95;
    font-size: 10rem;
}

.align-reg-exit {
    margin: auto;
    text-align: center;
}

.registro {
    margin-top: 120px;
}

i {
    color: #935f95;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

i:hover {
    color: #452C57;
}

.accesos i {
    font-size: 38px;
    margin-right: 5px;
}

.reactions {
    display: inline-flex;
    align-items: center;
}

.reactions p {
    margin-left: 7px;
}

.reaccion-comentarios button, .opciones-post button {
    color: #757575;
}

.align-reactions i {
    color: #757575;
    margin-right: 0.5rem;
}

.border {
    /* display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;*/

}

.divider {
    margin-bottom: 0.8rem;
}

.lateral, .chat-window {
    margin-top: 2.5rem;
}

.chat-window {
    border-bottom: 1px solid #dfdfdf;

}

div.col.s12.m8.chat-window {
    padding-bottom: 1rem;
}

/*sugerencia card*/
.sugerencias-div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.sugerencia-card {
    position: absolute;
}

.close {
    justify-content: end;
    display: flex;
}

.sugerencias-div p {
    margin-top: 0;
    text-align: center;
}

.sugerencias-div img {
    margin: 0 auto;
}

.dr-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dr-name p {
    margin-top: 1rem;
    font-weight: 600;
    color: #434343;
    margin-bottom: 0.5rem;
}

.dr-name i {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.seguidores img {
    height: 8%;
    width: 8%;
    margin: 0;

}

.seguidores p {
    font-size: 0.7rem;
    color: #757575;
}

.seguidores {
    display: inline-flex;
    justify-content: center;
}

#seguir-btn {
    margin-top: 0;
}

.publicidad img {
    border-radius: 9px;
}

.publicidad {
    display: flex;
    justify-content: center;
}

.reaccion-comentarios button, div.col.s11.reaccion-comentarios {
    padding-left: 0;
}

/*gallery-post*/
.images-lateral-gallery img {
    height: 50.1%;
}

.images-gallery-big {
    height: 50%;
    margin-right: 1px;
}

.modal-publicar h5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.modal-publicar .write-post {
    align-items: center;
    margin-top: 2rem;
}

.modal-publicar img, .lateral-chat .write-post, #chats {
    margin-right: 1rem;
}

.modal-publicar .align-options {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    padding: 0.5rem;
}

.modal-publicar .align-options {
    margin-top: 0.8rem;
    justify-content: space-evenly;
}

.modal-publicar .align-options a {
    margin-left: 0;
}

.disable-pop-up, .btn-floating.pulse.btn-large.disable-pop-up {
    display: none;
}

.modal-publicar.enable-pop-up {
    display: block;
    position: fixed;
    left: 0;
    top: 10%;
    z-index: 10;

}

.enable-pop-up {
    display: block;
}

.modal-publicar .align-options:hover {
    background-color: white;
}

.overlay {
    background-color: white;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    bottom: 0;
}

.overlay-dark {
    background-color: #434343;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    bottom: 0;
}

.close-pop-up:hover {
    cursor: pointer;
}

#busqueda-relacionada {
    display: flex;
    flex-direction: column;

}

.seleccionado {
    background-color: #EFE7EF;
    border-radius: 4px;
}

.modal-photo-row img {
    width: 100%;
}

.modal-photo-row {
    z-index: 2;
    top: 10%;
    position: fixed;
    left: 0px;

}

.container-photo {
    position: relative;
}

.container-photo .close-pop-up-image {
    position: absolute;
    top: 2%;
    right: 2%;
}

.container-photo .chevron {
    position: absolute;
    top: 50%;
}

.container-chevron {
    right: 2%;
    left: 2%
}

.chevron.right {
    right: 1%;
}

.chevron.left {
    left: 1%;
}

.container-reactions {
    position: absolute;
    bottom: 2%;
    background-color: #EFE7EF;
    border-radius: 4px;
    display: inline-flex;
    justify-content: space-evenly;
}

.col.s1.offset-s10.container-reactions {
    padding: 0.6rem;
}

i.close-pop-up-image {
    padding: 0.1rem;
    border-radius: 50%;
}

i.chevron.right, i.chevron.left {
    font-size: 4rem;
    padding: 0.1rem;
    border-radius: 50%;
}

i.right:hover, i.left:hover, i.close-pop-up-image:hover {
    background-color: #EFE7EF;
    padding: 0.1rem;
    border-radius: 50%;
}

.container-reactions i {
    font-size: 2rem;
}

i.right-pet {
    right: 22%;
}

i.right-emoji {
    right: 12%;
}

i.right-reply {
    right: 2%;
}

#gallery-1:hover {
    cursor: pointer;
}

#chats {
    display: flex;
    justify-content: space-between;
}

.ventanas-chats {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.burbuja-chat, .burbuja-chat-propio {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.burbuja-chat-propio {
    align-items: flex-end;
    padding-right: 2rem;
}
.burbuja-text-propio p, .burbuja-text p{
    margin-top:0.1rem;
    margin-bottom: 0.1rem;
}

.burbuja-text, .burbuja-text-propio {
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    max-width: 75%;
}

.burbuja-text {
    background-color: #DFDFDF;
}

.burbuja-text-propio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #935F95;
    color: white;
}

.burbuja-text-propio label {
    display: inline-flex;
    align-items: center;
}

.chat-write {
    position: fixed;
    bottom: 0;
}

div.col.s12.m4.lateral.lateral-chat {
    border-right: 1px solid #dfdfdf;
    padding-right: 0px;
}

.popup-notificaciones {
    background-color: white;
    z-index: 10;
    position: absolute;
    border-radius: 0.563rem;

}

.popup-notificaciones p {
    font-weight: initial;
    margin-left: 0.5rem;
}

.col.s3.offset-s6.z-depth-3.popup-notificaciones {
    padding: 2rem 1rem;
}

#notificaciones {
    border-style: none;
}

.notificaciones-off {
    background-color: white;
}

@media screen and (min-width: 1024px) {
    #logo {
        margin-top: 150px;
    }

    .login-row {
        display: grid;
        place-items: center
    }

    .input-field {
        margin: 0 auto 30px auto;
    }

    .align-options {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .images-gallery-big img.image-post {
        height: 100%;
    }

}