#links-login {
    display: inline-grid;
    text-align: center;
}

#navLogo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.navbar {
    /* background-color: white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow:0 0 5px 0 #434343;*/
}

.leftnavbar {
    height: 56px;
}

/*.navbar i, #profile-navbar{
    color: #935f95;
}*/
#profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition:all 0.5s ease-in-out;
}
#profile-navbar:hover{
    color:white;
    background-color: #935F95;
    border-radius: 0.563rem;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-navbar img {
    margin-right: 5px;
}

.imgRedonda {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#search-box {
    left: 30%;
    position: relative;
}


#busqueda {
    background-color: #DFDFDF;
    border-bottom: none;
    border-radius: 0.563rem;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 0.5rem;
}

#busqueda::placeholder {
    color: #757575;
}

.on {
    border-bottom: 3px solid #935f95;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-content li{
    margin-right:30px
}
.left.hide-on-med-and-down.leftnavbar{
    margin-top: 0.5rem;
}

.links-login-div {
    display: flex;
    justify-content: center;
}

html {
    font-family: "Montserrat";
}

.logo {
    display: grid;
    justify-items: center;
    margin-top: 100px;
}

#text-logo {
    text-align: center;
}

.col.s12.m6.text-registro {
    width: 75%;
}

.btn, #registro-exitoso-text {
    font-weight: 700;
}

.login-text {
    color: #434343;
    font-weight: 600;
}

.login-text-crear {
    color: #935f95;
    font-weight: 600;
}

.btn {
    margin: 20px auto 10px auto;
}

#registro-btn {
    width: 100%;
    margin-top: 20px;
}

.links-login-div div {
    margin: 0 auto;
}

.eye-icon {
    position: absolute;
    right: 50px;
    bottom: 16px;
    cursor: pointer;
    color: #452C57;
}

.disabled-icon {
    color: #DFDFDF;
}

.check {
    color: #935f95;
    font-size: 10rem;
}

.align-reg-exit {
    margin: auto;
    text-align: center;
}

.registro {
    margin-top: 120px;
}

@media screen and (min-width: 1024px) {
    #logo {
        margin-top: 150px;
    }

    .login-row {
        display: grid;
        place-items: center
    }

    .input-field {
        margin: 0 auto 30px auto;
    }
}