#links-login {
    display: inline-grid;
    text-align: center;
}

#navLogo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.navbar {
    /* background-color: white;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow:0 0 5px 0 #434343;*/
}

.leftnavbar {
    height: 56px;
}

/*.navbar i, #profile-navbar{
    color: #935f95;
}*/

#profile-lateral {
    display: flex;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-lateral img {
    margin-right: 5px;
}

#profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-navbar:hover {
    color: white;
    background-color: #935F95;
    border-radius: 0.563rem;
    height: 45px;
    margin-top: 0.5rem;
}

#profile-navbar img, #profile-post img {
    margin-right: 5px;
}

#profile-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434343;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    margin-top: 0.5rem;
}

.text-hora {
    color: #757575;
    margin-top: 0;
    font-size: 10px;
}

.text-post {
    color: #434343;
}

.image-post {
    height: 100%;
}

.published-post {
    display: flex;
    align-items: center;
}

.imgRedonda {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.img-post {
    height: 38px;
}

#search-box {
    left: 30%;
    position: relative;
}

div .card.card-padding {
    padding: 2rem 3rem;
}

#user-name {
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    color: #434343;
}

.comentar{
    height: auto;
    width: 25rem;
}


.comentarios-post {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.01em;
    text-align: left;

}
.comentario{
    width: 20rem;
}
.botones-comentarios {
    border: none;
}

.busqueda, #escribir-post {
    background-color: #DFDFDF;
    border-bottom: none;
    border-radius: 0.563rem;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 0.5rem;
}

#escribir-post:focus {
    border: none;
}

#escribir-post {
    margin-left: 0.5rem;
    height: 38px;
}
.reaccion-comentarios{
    display: flex;
    justify-content:start;
    
}
.reaccion-comentarios button{
    background: none;
    border: none;
}
.opciones-post {
    color: #757575    ;
    display: flex;
    justify-content: space-evenly;
}
.opciones-post button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;

}
.carta{
    display: flex;
    flex-direction: column;
}
.align-options, .align-reactions {
    display: inline-flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.align-options {
    margin-top: 1.5rem;
}
.align-reactions {
    margin-top: 0.5rem;
}

.align-options i, .align-reactions i {
    color: #935F95;
}

.align-options a, .align-reactions a {
    color: #757575;
    font-weight: 600;
    margin-left: 0.563rem;
}

.align-options:hover, .align-reactions:hover {
    background-color: #EFE7EF;
    border-radius: 4px;
}

.img-post {
    height: 38px;
    width: 38px;
}

.write-post {
    display: flex;
}

.busqueda::placeholder {
    color: #757575;
}

.on {
    border-bottom: 3px solid #935f95;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-content li {
    margin-right: 30px
}

.left.hide-on-med-and-down.leftnavbar {
    margin-top: 0.5rem;
}

.links-login-div {
    display: flex;
    justify-content: center;
}

html {
    font-family: "Montserrat";
}

.logo {
    display: grid;
    justify-items: center;
    margin-top: 100px;
}

#text-logo {
    text-align: center;
}

.col.s12.m6.text-registro {
    width: 75%;
}

.btn, #registro-exitoso-text {
    font-weight: 700;
}

.login-text {
    color: #434343;
    font-weight: 600;
}

.login-text-crear {
    color: #935f95;
    font-weight: 600;
}

.btn {
    margin: 20px auto 10px auto;
}

#registro-btn {
    width: 100%;
    margin-top: 20px;
}

.links-login-div div {
    margin: 0 auto;
}
.eye-icon{
    right: 56px;
}
.photo-icon{
    right: 30px;
}
.eye-icon, .photo-icon {
    position: absolute;
    bottom: 16px;
    cursor: pointer;
    color: #452C57;
}

.disabled-icon {
    color: #DFDFDF;
}

.check {
    color: #935f95;
    font-size: 10rem;
}

.align-reg-exit {
    margin: auto;
    text-align: center;
}

.registro {
    margin-top: 120px;
}

i {
    color: #935f95;
    transition: all 0.5s ease-in-out;
}

i:hover {
    color: #452C57;
}

.accesos i {
    font-size: 38px;
    margin-right: 5px;
}

.reactions {
    display: inline-flex;
    align-items: center;
}

.reactions p {
    margin-left: 7px;
}

.border {
   /* display: flex;
    justify-content: space-between;*/
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.lateral {
    margin-top: 30px;
}
/*sugerencia card*/
.sugerencias-div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.sugerencia-card {
    position: absolute;
}

.close {
    justify-content: end;
    display: flex;
}

.sugerencias-div p {
    margin-top: 0;
    text-align: center;
}

.sugerencias-div img {
    margin: 0 auto;
}

.dr-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dr-name p {
    margin-top: 1rem;
    font-weight: 600;
    color: #434343;
    margin-bottom: 0.5rem;
}

.dr-name i {
    margin-left: 0.5rem;
    margin-top: 0.5rem
;
}

.seguidores img {
    height: 8%;
    width: 8%;
    margin:0;

}

.seguidores p {
    font-size: 0.7rem;
    color: #757575;
}
.seguidores{
    display: inline-flex;
    justify-content: center;
}
#seguir-btn{
    margin-top:0;
}
.publicidad img{
    border-radius: 9px;
}
.publicidad{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1024px) {
    #logo {
        margin-top: 150px;
    }

    .login-row {
        display: grid;
        place-items: center
    }

    .input-field {
        margin: 0 auto 30px auto;
    }

    .align-options {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .comentarios-post, .reaccion-comentarios,.border{
        display:block;
    }
}