body {
    background-color: #fafafa;
    align-content: center;
    font-family: "Montserrat";
}

footer {
    background-color: #504B83;
    color: white;
    text-align: center;
    display: flex;
}

header {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    color: #504B83;
}

footer {
    margin-top: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
}

img#logo {
    padding-right: 20px;
    margin-left: 10px;
    width: 5%;
    height: 5%
}

.btn {
    background-color: white;
    color: #504B83;
    border: 1px solid #504B83;
    border-radius: 6px;
    padding: 10px;
    font-family: "Montserrat";
    transition: 0.3s;
    margin-top: 5px;
}

.btn:hover {
    background-color: #504B83;
    color: white;
}

#game {
    display: flex;
}

i {
    margin-right: 5px;
}

#canvas {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    margin-right: 20px;
}

#timer {
    font-size: 45px;
    color: #504B83;
    margin-top: 0px;
}

#msj {
    color: #504B83;
    font-size: 24px;
    font-weight: 600;
}

#board-sizes p {
    margin-bottom: 5px;
    ;
}

#board-5:disabled, #board-6:disabled, #board-7:disabled, #board-8:disabled, #board-5:disabled:hover, #board-6:disabled:hover, #board-7:disabled:hover, #board-8:disabled:hover {
    color: #b6b6b7;
    border: 1px solid #b6b6b7;
    background-color: white;
}

#tokens button {
    background-color: #fafafa;
    border: none;
    width: 100px;
}

#tokens img {
    width: 70%;
}

#tokens div {
    display: flex;
}

#ficha-2:disabled, #ficha-3:disabled, #ficha-4:disabled, #ficha-azul-2:disabled, #ficha-azul-3:disabled, #ficha-azul-4:disabled {
    filter: grayscale(1);
    opacity: 0.4;
}

#ficha-2, #ficha-3, #ficha-4, #ficha-azul-2, #ficha-azul-3, #ficha-azul-4 {
    transition: all 300ms ease-out;
}

#ficha-2:hover, #ficha-3:hover, #ficha-4:hover, #ficha-azul-2:hover, #ficha-azul-3:hover, #ficha-azul-4:hover {
    transform: scale(1.1);
    transition: all 300ms ease-in;
}

#timer-title {
    margin-bottom: 5px;
}

#help-text {
    font-size: 13px;
    color: #353535;
}